AZURE_STORAGE_ACCOUNT_URL=https://<your-account-name>.blob.core.windows.net
AZURE_STORAGE_CONTAINER_NAME=your-container-name
AZURE_STORAGE_BLOB_PREFIX=

AZURE_FOUNDRY_API_KEY=
AZURE_AI_SEARCH_API_KEY=

AZURE_EMBEDDING_MODEL=your-embedding-deployment-name
AZURE_EMBEDDING_ENDPOINT=https://<your-openai-resource>.openai.azure.com/openai/v1

AZURE_CHAT_MODEL=your-chat-deployment-name
AZURE_CHAT_ENDPOINT=https://<your-openai-resource>.openai.azure.com/openai/v1

AZURE_AI_SEARCH_ENDPOINT=https://<your-azure-search-resource-name>.search.windows.net
AZURE_AI_SEARCH_INDEX_NAME=demo-documents
